<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteRule (.+) index.php?p=$$1 [QSA,L]
    
    <Files .env>
        Require all denied
    </Files>

    <Files .env.template>
        Require all denied
    </Files>
    
</IfModule>